// ================
// Styles used by all ACS landing pages
// ================

// ================
// Navigation

.main-nav {
	border-bottom:8px solid black;

	.center {
		display: flex;
		justify-content: center;

		@media (max-width: $mq-400) {
			width: 100%;
		}

		@media (min-width: $mq-900) {
			justify-content: end;
			margin-top: -1rem;
		}
	}

	ul, li {
		margin: 0;
		padding: 0;
	}

	ul {
		list-style: none;
        display:flex;
	}

	li {
		margin:0 1px;

		&:last-child {
			margin-right: 0;
		}
	
		&:first-child {
			margin-left: 0;
		}
	}

	a {
		@include fluidRem("font-size", 0.8125rem, 1.0625rem);
		@include fluidRem("padding", 0.6rem .6rem, 0.6rem 1.7rem);
		background:#767676;
		color:white;
		border-radius: 5px 5px 0 0;
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		text-align: center;
		text-decoration: none;
		line-height: 1.2;
		
		&:hover,
		&:focus {
			background: black;
		}

		&.active {
			background: black;
			transition:none;
		}
	}
}


// ================
// Apply CTA

.lp-apply,
.lp-apply-btm {
	@include applyFormInlineEmail("(min-width: #{$mq-500})");

	.apply-form {
		position: relative;
		margin: 1.5rem 0 0;
		padding: 0 !important;

		label {
			@extend .visuallyhidden;
		}

		.mauticform-button-wrapper {
			margin-top: 0.75rem;
		}

		a,
		button {
			@extend %major-button !optional;
			width: 100%;
			margin-bottom: 0;
		 	white-space: nowrap;
		}
		
	}

}

.lp-apply-btm {
	padding: 5vw 0;

	.lp-apply-btm-content {
		@include containerStyle();
		max-width: $mq-700;
		margin: auto;
	}
}


// ================
// School Contact Section
.lp-school-contact {
	padding: 4vw 0;

	.lp-school-contact-options {
		margin: 0;
		
		li {
			list-style-type: none;
			display: inline-block;
			width: auto;
			margin-right: 0.5rem;
					
			~ li {
				margin-top: 0.75rem;
			}
			
			a {
				@extend %button;
				@extend %minor-button;
			
				&::before {
					display: inline-block;
					font-family: $f-iconFont;
					margin-right: 0.35rem;
				}
			}
					
			&.lp-school-contact-phone {
				a {
					&::before {
						content: $i-phone;
					}
				}
			}
			
			&.lp-school-contact-email {
				a {
					&::before {
						content: $i-email;
					}
				}
			}
		}
	}
	
	@media (min-width: calc(#{$mq-400} + 2rem)) {
		.lp-school-contact-info {
			max-width: $mq-600;
			margin: auto;
			text-align: center;
		}
		
		.lp-school-contact-options {
			display: grid;
			grid-template-columns: auto auto;
			justify-content: center;
			grid-gap: 1.5rem;
			
			li {
				margin-right: 0;
				
				~ li {
					margin-top: 0;
				}
			}
		}
	}
}
