@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;1,500;1,700&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe,
fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.hidden,
[hidden] {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden, .lp-apply .apply-form label,
.lp-apply-btm .apply-form label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .lp-apply .apply-form label.focusable:active,
.lp-apply-btm .apply-form label.focusable:active,
.visuallyhidden.focusable:focus,
.lp-apply .apply-form label.focusable:focus,
.lp-apply-btm .apply-form label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.nobreak {
  white-space: nowrap;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  src: url("icomoon.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  color: #0C233F;
}

body {
  font-size: 0.9375rem;
}

@media (min-width: 37.5rem) {
  body {
    font-size: calc(0.9375rem + 0.1875 * ((100vw - 37.5rem) / 37.5));
  }
}

@media (min-width: 75rem) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  color: #0C233F;
}

h1,
h2 {
  font-size: 1.75rem;
  font-weight: 800;
}

@media (min-width: 18.75rem) {
  h1,
  h2 {
    font-size: calc(1.75rem + 0.5 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h1,
  h2 {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

@media (min-width: 18.75rem) {
  h3 {
    font-size: calc(1.5rem + 0.5 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h3 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

@media (min-width: 18.75rem) {
  h4 {
    font-size: calc(1.25rem + 0.25 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h4 {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.125rem;
  font-weight: 500;
}

@media (min-width: 18.75rem) {
  h5 {
    font-size: calc(1.125rem + 0.125 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h5 {
    font-size: 1.25rem;
  }
}

h6 {
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 18.75rem) {
  h6 {
    font-size: calc(1rem + 0.15 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  h6 {
    font-size: 1.15rem;
  }
}

p,
ul,
ol,
blockquote,
address {
  margin: 0 0 1rem 0;
  font-style: normal;
}

ul,
ol {
  padding: 0;
}

ul li,
ol li {
  list-style: none;
}

hr {
  margin: 1rem 0;
  border: 0;
  border-top: 2px solid #bbbbbb;
}

a {
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-decoration: underline;
  color: #0070B9;
}

a:hover {
  text-decoration: none;
  color: #0C233F;
}

a:focus {
  background: #FFC62F;
  text-decoration: none;
}

.fancybox-content .copyright,
small,
.copyright {
  font-style: italic;
  font-size: .875em;
}

.error,
.val-header {
  color: #e60004;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url], textarea, select {
  width: 100%;
  height: auto;
  padding: .5em;
  border: 1px solid #0C233F;
  background: #fff;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

input:hover[type=email],
input:hover[type=number],
input:hover[type=password],
input:hover[type=tel],
input:hover[type=text],
input:hover[type=url], textarea:hover, select:hover {
  -webkit-box-shadow: inset 5px 0px #eeeeee;
          box-shadow: inset 5px 0px #eeeeee;
  border-color: #0070B9;
}

input:focus[type=email],
input:focus[type=number],
input:focus[type=password],
input:focus[type=tel],
input:focus[type=text],
input:focus[type=url], textarea:focus, select:focus {
  outline: none;
  -webkit-box-shadow: inset 4px 0px #0070B9;
          box-shadow: inset 4px 0px #0070B9;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url] {
  line-height: 1.2;
}

@media (min-width: 37.5rem) {
  input[type=tel] {
    width: auto;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
  min-height: 8em;
  line-height: 1.4;
}

select {
  overflow: hidden;
  height: 2.5em;
  line-height: 1.2;
}

input[type=radio],
input[type=checkbox] {
  font-size: 1em;
  float: left;
  width: 1em;
  height: 1em;
  margin: .425em 0 0 0;
}

input[type=radio] + label,
input[type=checkbox] + label {
  display: block;
  min-height: 0;
  margin: 0;
  padding: .3125em 0 .3125em 1.5rem;
  cursor: pointer;
  font-size: .9444rem;
  line-height: 1.2;
}

.mauticform-errormsg {
  background: #e60004;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .25rem;
  padding: 0.35rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 1rem;
}

.mauticform-errormsg::before {
  background: #fff;
  content: '!';
  color: #e60004;
  border-radius: 100%;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  margin-right: .35rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mauticform-page-wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -1rem -5% 0 0;
}

.mauticform-row {
  display: block;
  width: 100%;
  margin: 1rem 5% 0 0;
}

@media (min-width: 37.5rem) {
  .mauticform-row.mauticform-row-partial-half {
    width: 45%;
  }
  .mauticform-row.mauticform-row-partial-third {
    width: 28.333%;
  }
  .mauticform-row.mauticform-row-partial-quarter {
    width: 20%;
  }
}

.mauticform-label {
  display: block;
  width: auto;
  padding: 0 0 0.125em 0;
  font-size: 1rem;
  line-height: 1.4;
}

.mauticform-label * {
  padding: 0;
}

.mauticform-button-wrapper {
  display: block;
  margin: 1.5rem 5% 0 0;
}

.mauticform-button-wrapper:first-of-type {
  margin-top: 0;
}

.mauticform-button-wrapper:last-of-type {
  margin-bottom: 0.5rem;
}

button,
.type_event_button a,
[type=submit],
[type=button], button.button,
.button button,
a.button,
.button a,
input.button,
.button input {
  color: white;
  overflow: hidden;
  background: transparent;
  color: white;
  display: block;
  width: 100%;
  padding: .75em 1.25em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 1rem;
  line-height: 1.2;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

button:before,
.type_event_button a:before,
[type=submit]:before,
[type=button]:before, button.button:before,
.button button:before,
a.button:before,
.button a:before,
input.button:before,
.button input:before, button:after,
.type_event_button a:after,
[type=submit]:after,
[type=button]:after, button.button:after,
.button button:after,
a.button:after,
.button a:after,
input.button:after,
.button input:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}

button:before,
.type_event_button a:before,
[type=submit]:before,
[type=button]:before, button.button:before,
.button button:before,
a.button:before,
.button a:before,
input.button:before,
.button input:before {
  width: 100%;
  height: 100%;
  background: #0C233F;
  z-index: -2;
}

button:after,
.type_event_button a:after,
[type=submit]:after,
[type=button]:after, button.button:after,
.button button:after,
a.button:after,
.button a:after,
input.button:after,
.button input:after {
  height: 0;
  width: 0;
  border-left: 0px solid #FFC62F;
  border-bottom: 0px solid #FFC62F;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  z-index: -1;
}

button:hover,
.type_event_button a:hover,
:hover[type=submit],
:hover[type=button],
a.button:hover,
.button a:hover,
input.button:hover,
.button input:hover, button:focus,
.type_event_button a:focus,
:focus[type=submit],
:focus[type=button],
a.button:focus,
.button a:focus,
input.button:focus,
.button input:focus {
  color: #0C233F;
}

button:hover:after,
.type_event_button a:hover:after,
[type=submit]:hover:after,
[type=button]:hover:after,
a.button:hover:after,
.button a:hover:after,
input.button:hover:after,
.button input:hover:after, button:focus:after,
.type_event_button a:focus:after,
[type=submit]:focus:after,
[type=button]:focus:after,
a.button:focus:after,
.button a:focus:after,
input.button:focus:after,
.button input:focus:after {
  border-width: 350px;
}

button,
.type_event_button a,
[type=submit],
[type=button], button.button,
.button button,
a.button,
.button a,
input.button,
.button input, button::before,
.type_event_button a::before,
[type=submit]::before,
[type=button]::before, button.button::before,
.button button::before,
a.button::before,
.button a::before,
input.button::before,
.button input::before, button::after,
.type_event_button a::after,
[type=submit]::after,
[type=button]::after, button.button::after,
.button button::after,
a.button::after,
.button a::after,
input.button::after,
.button input::after {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 37.5rem) {
  button,
  .type_event_button a,
  [type=submit],
  [type=button], button.button,
  .button button,
  a.button,
  .button a,
  input.button,
  .button input {
    display: inline-block;
    width: auto;
  }
}

button.major-button,
.major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input, .lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  overflow: hidden;
  background: transparent;
}

@media (min-width: 18.75rem) {
  button.major-button,
  .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input, .lp-apply .apply-form a,
  .lp-apply .apply-form button,
  .lp-apply-btm .apply-form a,
  .lp-apply-btm .apply-form button {
    font-size: calc(1.125rem + 0.125 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  button.major-button,
  .major-button button,
  a.major-button,
  .major-button a,
  input.major-button,
  .major-button input, .lp-apply .apply-form a,
  .lp-apply .apply-form button,
  .lp-apply-btm .apply-form a,
  .lp-apply-btm .apply-form button {
    font-size: 1.25rem;
  }
}

button.major-button:before,
.major-button button:before,
a.major-button:before,
.major-button a:before,
input.major-button:before,
.major-button input:before, .lp-apply .apply-form a:before,
.lp-apply .apply-form button:before,
.lp-apply-btm .apply-form a:before,
.lp-apply-btm .apply-form button:before, button.major-button:after,
.major-button button:after,
a.major-button:after,
.major-button a:after,
input.major-button:after,
.major-button input:after, .lp-apply .apply-form a:after,
.lp-apply .apply-form button:after,
.lp-apply-btm .apply-form a:after,
.lp-apply-btm .apply-form button:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
}

button.major-button:before,
.major-button button:before,
a.major-button:before,
.major-button a:before,
input.major-button:before,
.major-button input:before, .lp-apply .apply-form a:before,
.lp-apply .apply-form button:before,
.lp-apply-btm .apply-form a:before,
.lp-apply-btm .apply-form button:before {
  width: 100%;
  height: 100%;
  background: #0070B9;
  z-index: -2;
}

button.major-button:after,
.major-button button:after,
a.major-button:after,
.major-button a:after,
input.major-button:after,
.major-button input:after, .lp-apply .apply-form a:after,
.lp-apply .apply-form button:after,
.lp-apply-btm .apply-form a:after,
.lp-apply-btm .apply-form button:after {
  height: 0;
  width: 0;
  border-left: 0px solid #FFC62F;
  border-bottom: 0px solid #FFC62F;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  z-index: -1;
}

button.major-button:hover,
.major-button button:hover,
a.major-button:hover,
.major-button a:hover,
input.major-button:hover,
.major-button input:hover, .lp-apply .apply-form a:hover,
.lp-apply .apply-form button:hover,
.lp-apply-btm .apply-form a:hover,
.lp-apply-btm .apply-form button:hover, button.major-button:focus,
.major-button button:focus,
a.major-button:focus,
.major-button a:focus,
input.major-button:focus,
.major-button input:focus, .lp-apply .apply-form a:focus,
.lp-apply .apply-form button:focus,
.lp-apply-btm .apply-form a:focus,
.lp-apply-btm .apply-form button:focus {
  color: #0C233F;
}

button.major-button:hover:after,
.major-button button:hover:after,
a.major-button:hover:after,
.major-button a:hover:after,
input.major-button:hover:after,
.major-button input:hover:after, .lp-apply .apply-form a:hover:after,
.lp-apply .apply-form button:hover:after,
.lp-apply-btm .apply-form a:hover:after,
.lp-apply-btm .apply-form button:hover:after, button.major-button:focus:after,
.major-button button:focus:after,
a.major-button:focus:after,
.major-button a:focus:after,
input.major-button:focus:after,
.major-button input:focus:after, .lp-apply .apply-form a:focus:after,
.lp-apply .apply-form button:focus:after,
.lp-apply-btm .apply-form a:focus:after,
.lp-apply-btm .apply-form button:focus:after {
  border-width: 350px;
}

button.minor-button,
.minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input, .lp-school-contact .lp-school-contact-options li a {
  color: white;
  background: #0C233F;
  display: block;
  width: 100%;
  padding: .5em 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border: 2px solid #0C233F;
  border-radius: 0;
  outline: 0;
  font-size: 1rem;
  line-height: 1.2;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  font-weight: 800;
}

button.minor-button:hover,
.minor-button button:hover,
a.minor-button:hover,
.minor-button a:hover,
input.minor-button:hover,
.minor-button input:hover, .lp-school-contact .lp-school-contact-options li a:hover, button.minor-button:focus,
.minor-button button:focus,
a.minor-button:focus,
.minor-button a:focus,
input.minor-button:focus,
.minor-button input:focus, .lp-school-contact .lp-school-contact-options li a:focus {
  color: #0070B9;
  background: transparent;
  border: 2px solid #0070B9;
}

@media (min-width: 37.5rem) {
  button.minor-button,
  .minor-button button,
  a.minor-button,
  .minor-button a,
  input.minor-button,
  .minor-button input, .lp-school-contact .lp-school-contact-options li a {
    display: inline-block;
    width: auto;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

@-ms-viewport {
  width: device-width;
  zoom: 1;
}

@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}


.center {
  width: 90%;
  max-width: 56.25rem;
  margin: auto;
}

.header-nav {
  -webkit-box-shadow: 0px 7px 6px -3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 7px 6px -3px rgba(0, 0, 0, 0.1);
}

@media (min-width: 43.75rem) {
  .header-nav .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.school-header {
  padding: 1rem 0;
}


.school-logo {
  height: 3rem;
  width: 11rem;
  position: relative;
  background: url("img-logo.svg") no-repeat left/contain;
  text-indent: -999em;
  margin: 0;
}

@media (min-width: 25rem) {
  
  .school-logo {
    height: calc(3rem + 2 * ((100vw - 25rem) / 50));
  }
}

@media (min-width: 75rem) {
  
  .school-logo {
    height: 5rem;
  }
}

@media (min-width: 25rem) {
  
  .school-logo {
    width: calc(11rem + 3 * ((100vw - 25rem) / 50));
  }
}

@media (min-width: 75rem) {
  
  .school-logo {
    width: 14rem;
  }
}

.school-footer {
  padding: 1.5rem 0 1.5rem;
  background: #0C233F;
}

@media (min-width: 18.75rem) {
  .school-footer {
    padding: calc(1.5rem + 1.5 * ((100vw - 18.75rem) / 106.25)) calc(0rem + 0 * ((100vw - 18.75rem) / 106.25)) calc(1.5rem + 1.5 * ((100vw - 18.75rem) / 106.25));
  }
}

@media (min-width: 125rem) {
  .school-footer {
    padding: 3rem 0 3rem;
  }
}

.school-footer .school-footer-name {
  font-weight: 600;
  color: white;
}

.school-footer .school-footer-address {
  color: white;
}

.school-footer ul {
  margin: 1rem 0 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.school-footer ul li {
  display: inline-block;
}

.school-footer ul li a {
  color: white;
}

.school-footer ul li a:hover, .school-footer ul li a:focus {
  color: #FFC62F;
}

.school-footer ul li a:focus {
  color: #0C233F;
  background: #FFC62F;
}

@media (max-width: 31.1875rem) {
  .school-footer .school-footer-address,
  .school-footer .school-footer-name {
    text-align: center;
  }
  .school-footer ul li ~ li {
    margin-left: .5rem;
    padding-left: .5rem;
    border-left: 1px solid #707070;
  }
}

@media (min-width: 31.25rem) {
  .school-footer .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .school-footer .school-footer-address {
    margin: 0;
    text-align: left;
  }
  .school-footer .school-footer-address span {
    display: block;
  }
  .school-footer ul {
    text-align: left;
    margin: 0;
  }
  .school-footer ul li ~ li {
    margin-top: .5rem;
    display: block;
  }
}

.rte-custom-highschoollookup7 .result {
  position: relative;
  margin: 1rem 0;
  padding: .5rem;
  border: 1px solid #000;
}

.rte-custom-highschoollookup7 .result .location {
  display: block;
  font-size: .875em;
  font-style: italic;
}

.rte-custom-highschoollookup7 .result a {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;
}

.rte-custom-highschoollookup7 .result a::after {
  content: "X";
  color: #000;
  font-size: 1rem;
  line-height: 1;
}

.ac_results {
  z-index: 1000;
  background: #fff;
  position: relative;
}

.ac_results ul {
  margin: 0;
  padding: 0;
}

.ac_results li {
  display: block;
  margin: 0;
  padding: .75em;
  cursor: pointer;
}

.ac_results li:nth-child(even) {
  background: #eee;
}

.ac_results li .location {
  display: block;
  font-size: .85em;
  font-style: italic;
}

.fancybox-container {
  font-family: inherit;
}

.fancybox-bg {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

.fancybox-content {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  width: 90% !important;
  max-width: 37.5rem !important;
  margin: 0 auto !important;
}

.fancybox-content {
  padding: 1.5rem !important;
  border-radius: 0 !important;
  background: #fff !important;
}

[class*='fancybox-close'] {
  position: absolute;
  top: .75rem;
  right: .75rem;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;
  text-decoration: none;
}

[class*='fancybox-close']::after {
  content: "";
  color: #0C233F;
  display: block;
  font-family: "icons";
  font-size: 2rem;
  line-height: 1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: static;
  height: auto;
  width: auto;
  border: 0;
}

[class*='fancybox-close']:before {
  display: none;
}

:hover[class*='fancybox-close'], :focus[class*='fancybox-close'] {
  background: none;
  border: none;
}

[class*='fancybox-close']:hover::after, [class*='fancybox-close']:focus::after {
  color: #0070B9;
}

.fancybox-content {
  position: relative !important;
}

.fancybox-content > [tabindex="0"] {
  outline: 0;
}

.main-nav .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 25rem) {
  .main-nav .center {
    width: 100%;
  }
}

@media (min-width: 56.25rem) {
  .main-nav .center {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: -1rem;
  }
}

.main-nav ul, .main-nav li {
  margin: 0;
  padding: 0;
}

.main-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .25rem;
}

.main-nav a {
  font-size: 0.8125rem;
  padding: 0.5rem 0.5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
}

@media (min-width: 18.75rem) {
  .main-nav a {
    font-size: calc(0.8125rem + 0.25 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .main-nav a {
    font-size: 1.0625rem;
  }
}

@media (min-width: 18.75rem) {
  .main-nav a {
    padding: calc(0.5rem + 0 * ((100vw - 18.75rem) / 56.25)) calc(0.5rem + 0.75 * ((100vw - 18.75rem) / 56.25));
  }
}

@media (min-width: 75rem) {
  .main-nav a {
    padding: 0.5rem 1.25rem;
  }
}

.main-nav a:after {
  content: '';
  height: 5px;
  width: 0;
  background: #eeeeee;
  display: block;
  position: absolute;
  bottom: 2px;
  -webkit-transition: width 0.25s ease-in-out;
  transition: width 0.25s ease-in-out;
  left: 0;
}

.main-nav a:hover:after, .main-nav a:focus:after {
  width: 100%;
}

.main-nav a:hover, .main-nav a:focus {
  background: none;
}

.main-nav a.active {
  -webkit-transition: none;
  transition: none;
}

.main-nav a.active:after {
  width: 100%;
  background: #0070B9;
}

.lp-apply ul li,
.lp-apply-btm ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0C233F;
  font-weight: 600;
  padding-left: .5rem;
  border-left: 3px solid #FFC62F;
}

.lp-apply ul li ~ li,
.lp-apply-btm ul li ~ li {
  margin-top: .5rem;
}

@media (max-width: 37.5rem) {
  .lp-apply ul li:before,
  .lp-apply-btm ul li:before {
    margin-right: .5rem;
  }
}

.lp-apply .apply-form,
.lp-apply-btm .apply-form {
  position: relative;
  margin: 1.5rem 0 0;
  padding: 0 !important;
}

.lp-apply .apply-form .mauticform-button-wrapper,
.lp-apply-btm .apply-form .mauticform-button-wrapper {
  margin-top: 0.75rem;
}

.lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button {
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
}

.lp-apply-btm {
  padding: 4rem 0 4rem;
  position: relative;
  background: url("img-background-school.jpg") no-repeat right center/cover;
}

@media (min-width: 18.75rem) {
  .lp-apply-btm {
    padding: calc(4rem + 4 * ((100vw - 18.75rem) / 106.25)) calc(0rem + 0 * ((100vw - 18.75rem) / 106.25)) calc(4rem + 4 * ((100vw - 18.75rem) / 106.25));
  }
}

@media (min-width: 125rem) {
  .lp-apply-btm {
    padding: 8rem 0 8rem;
  }
}

.lp-apply-btm .lp-apply-btm-content {
  position: relative;
  z-index: 10;
}

.lp-apply-btm .lp-apply-btm-content p:not(.button) a {
  color: white;
}

.lp-apply-btm .lp-apply-btm-content p:not(.button) a:hover, .lp-apply-btm .lp-apply-btm-content p:not(.button) a:focus {
  color: #FFC62F;
}

.lp-apply-btm .lp-apply-btm-content p:not(.button) a:focus {
  color: #0C233F;
  background: #FFC62F;
}

.lp-apply-btm .lp-apply-btm-content input:hover {
  border-color: #FFC62F;
}

.lp-apply-btm .lp-apply-btm-content input:focus {
  outline: none;
  -webkit-box-shadow: inset 4px 0px #FFC62F;
          box-shadow: inset 4px 0px #FFC62F;
}

.lp-apply-btm .lp-apply-btm-content h1, .lp-apply-btm .lp-apply-btm-content h2, .lp-apply-btm .lp-apply-btm-content h3, .lp-apply-btm .lp-apply-btm-content h4, .lp-apply-btm .lp-apply-btm-content h5, .lp-apply-btm .lp-apply-btm-content h6, .lp-apply-btm .lp-apply-btm-content p:not(.button), .lp-apply-btm .lp-apply-btm-content li, .lp-apply-btm .lp-apply-btm-content ul, .lp-apply-btm .lp-apply-btm-content label {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.lp-apply-btm .center:before {
  display: block;
  content: '';
  background: url("img-apply-btm-sm.jpg") no-repeat 40% center/cover;
  height: 35vw;
  margin-bottom: 2rem;
}

@media (min-width: 43.75rem) {
  .lp-apply-btm .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .lp-apply-btm .center:after {
    content: '';
    border: 25px solid rgba(255, 198, 47, 0.5);
    border-right: none;
    position: absolute;
    width: 60px;
    height: 110%;
    left: -13px;
    top: -1.5rem;
  }
  .lp-apply-btm .center:before {
    background: url("img-apply-btm-lg.jpg") no-repeat 40% center/cover;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin: 0;
    height: auto;
  }
  .lp-apply-btm .lp-apply-btm-content {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding-left: 2rem;
  }
  .lp-apply-btm .lp-apply-btm-content:before {
    content: '';
    border: 25px solid rgba(255, 198, 47, 0.5);
    border-left: none;
    position: absolute;
    width: 60px;
    height: 110%;
    left: -47px;
    bottom: -1.5rem;
  }
  .lp-apply-btm .lp-apply-btm-content .lp-apply-btm-form {
    margin: 0;
  }
}

.lp-school-contact {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(163, 200, 227, 0.8)), color-stop(75%, rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(163, 200, 227, 0.8) 0%, rgba(255, 255, 255, 0) 75%);
  padding: 4rem 0 4rem;
  position: relative;
}

@media (min-width: 18.75rem) {
  .lp-school-contact {
    padding: calc(4rem + 4 * ((100vw - 18.75rem) / 106.25)) calc(0rem + 0 * ((100vw - 18.75rem) / 106.25)) calc(4rem + 4 * ((100vw - 18.75rem) / 106.25));
  }
}

@media (min-width: 125rem) {
  .lp-school-contact {
    padding: 8rem 0 8rem;
  }
}

.lp-school-contact .lp-school-contact-options {
  margin: 0;
}

.lp-school-contact .lp-school-contact-options li {
  list-style-type: none;
  display: inline-block;
  width: auto;
  margin-right: 0.5rem;
}

.lp-school-contact .lp-school-contact-options li ~ li {
  margin-top: 0.75rem;
}

.lp-school-contact .lp-school-contact-options li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lp-school-contact .lp-school-contact-options li a::before {
  display: inline-block;
  font-family: "icons";
  margin-right: 0.5rem;
  font-weight: normal;
}

.lp-school-contact .lp-school-contact-options li.lp-school-contact-phone a::before {
  content: "";
  font-size: 1.25em;
  line-height: 1;
}

.lp-school-contact .lp-school-contact-options li.lp-school-contact-email a::before {
  content: "";
}

@media (min-width: 37.5rem) {
  .lp-school-contact .lp-school-contact-info {
    margin: auto;
    text-align: center;
  }
  .lp-school-contact .lp-school-contact-options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 1.5rem;
  }
  .lp-school-contact .lp-school-contact-options li {
    margin-right: 0;
  }
  .lp-school-contact .lp-school-contact-options li ~ li {
    margin-top: 0;
  }
}

@media (min-width: 31.25rem) {
  .lp-apply .apply-form .mauticform-page-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    margin-top: 1rem;
  }
  .lp-apply .apply-form .mauticform-field-email_address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
  }
  .lp-apply .apply-form .mauticform-field-email_address input {
    width: 100%;
  }
  .lp-apply .apply-form .mauticform-field-email_address .mauticform-errormsg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .lp-apply .apply-form .mauticform-button-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
  }
  .lp-apply .apply-form .mauticform-button-wrapper, .lp-apply .apply-form .mauticform-button-wrapper:last-of-type {
    margin: 0;
  }
  .lp-apply .apply-form .mauticform-button-wrapper button {
    margin: 0;
  }
}

.lp-apply:before {
  height: 30vw;
  width: 100%;
  content: '';
  background: url("img-apply-sm.jpg") no-repeat center 15%/cover;
  min-height: 10rem;
  display: block;
}

.lp-apply .lp-apply-content {
  max-width: 50rem;
  margin-top: -3rem;
}

.lp-apply h2 {
  position: relative;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
}

.lp-apply h2:after {
  position: absolute;
  bottom: -.5em;
  right: -.5em;
  width: 2em;
  height: 2em;
  content: '';
  background: url("img-corner-triangle-lined.svg") no-repeat center/4em;
}

@media (min-width: 62.5rem) {
  .lp-apply:before {
    background: url("img-apply-lg.jpg") no-repeat center/cover;
  }
  .lp-apply .lp-apply-content {
    margin-top: -4rem;
  }
  .lp-apply h2 {
    padding: 1rem 2rem;
  }
}

.lp-deferral {
  padding: 4rem 0 4rem;
  position: relative;
}

@media (min-width: 18.75rem) {
  .lp-deferral {
    padding: calc(4rem + 4 * ((100vw - 18.75rem) / 106.25)) calc(0rem + 0 * ((100vw - 18.75rem) / 106.25)) calc(4rem + 4 * ((100vw - 18.75rem) / 106.25));
  }
}

@media (min-width: 125rem) {
  .lp-deferral {
    padding: 8rem 0 8rem;
  }
}

.lp-deferral .lp-deferral-initial,
.lp-deferral .lp-form-thanks {
  max-width: 43.75rem;
  margin: auto;
  position: relative;
  z-index: 10;
  padding: 1rem;
  background: white;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  min-height: 16rem;
}

@media (min-width: 37.5rem) {
  .lp-deferral .lp-deferral-initial,
  .lp-deferral .lp-form-thanks {
    padding: 2rem;
  }
}

.lp-deferral .lp-form-thanks {
  max-width: 37.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lp-deferral h3:after {
  background: url("img-underline-squiggle.svg") no-repeat center/contain;
  margin-top: .5rem;
  margin-bottom: 1rem;
  content: "";
  display: block;
  height: .75rem;
  width: 6rem;
  opacity: .3;
}

.lp-deferral:before {
  content: '';
  width: 100%;
  height: 50%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  position: absolute;
  background: #0C233F;
  background: url("img-background-school.jpg") no-repeat right center/cover;
  z-index: -1;
}

.lp-school-contact {
  padding-top: 0;
}
/*# sourceMappingURL=style-apply.css.map */