@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,400&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,900;1,400;1,700&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe,
fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.hidden,
[hidden] {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden, .lp-apply .apply-form label,
.lp-apply-btm .apply-form label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .lp-apply .apply-form label.focusable:active,
.lp-apply-btm .apply-form label.focusable:active,
.visuallyhidden.focusable:focus,
.lp-apply .apply-form label.focusable:focus,
.lp-apply-btm .apply-form label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

main {
  display: block;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

@font-face {
  font-family: "Icons";
  font-weight: normal;
  font-style: normal;
  src: url("fontawesome-webfont.woff") format("woff");
}
@-webkit-keyframes come-in-right {
  0% {
    opacity: 0;
    transform: translate(50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes come-in-right {
  0% {
    opacity: 0;
    transform: translate(50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes come-in-left {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes come-in-left {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #004C23;
  color: #fff;
}

::selection {
  background: #004C23;
  color: #fff;
}

html {
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
}

body {
  font-size: 1rem;
}
@media (min-width: 37.5rem) {
  body {
    font-size: 1.0625rem;
  }
}
@media (min-width: 75rem) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem 0 1rem;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
  line-height: 1.1;
  color: #004C23;
}

h1,
h2 {
  font-size: 1.85rem;
}
@media (min-width: 18.75rem) {
  h1,
h2 {
    font-size: calc(1.85rem + 0.65 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  h1,
h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 1.65rem;
}
@media (min-width: 18.75rem) {
  h3 {
    font-size: calc(1.65rem + 0.6 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  h3 {
    font-size: 2.25rem;
  }
}

h4 {
  font-size: 1.35rem;
}
@media (min-width: 18.75rem) {
  h4 {
    font-size: calc(1.35rem + 0.3 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  h4 {
    font-size: 1.65rem;
  }
}

h5 {
  font-size: 1.15rem;
}
@media (min-width: 18.75rem) {
  h5 {
    font-size: calc(1.15rem + 0.2 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  h5 {
    font-size: 1.35rem;
  }
}

h6 {
  font-size: 1rem;
}
@media (min-width: 18.75rem) {
  h6 {
    font-size: calc(1rem + 0.15 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  h6 {
    font-size: 1.15rem;
  }
}

p,
ul,
ol,
blockquote,
address {
  margin: 0 0 1rem 0;
  font-style: normal;
}

ul,
ol {
  margin: 1rem 0 1rem 2.75rem;
}
a {
  color: #004C23;
  font-weight: bold;
}
a:hover, a:focus {
  text-decoration: none;
  color: black;
}

.fancybox-content .copyright,
small,
.copyright {
  font-size: 0.875em;
  font-style: italic;
}

.error,
.val-header {
  color: #a80909;
}

.nobr {
  white-space: nowrap;
}

.box {
  display: block;
  border: 2px solid #FDB724;
  padding: 1rem;
}

select, textarea, input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url] {
  width: 100%;
  height: auto;
  padding: 0.65rem 0.5rem;
  border: 1px solid #ddd;
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
}
select:hover, textarea:hover, input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=text]:hover,
input[type=url]:hover, select:focus, textarea:focus, input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus {
  outline: none;
  background: #fff;
  box-shadow: inset 0 1px 1px rgba(253, 183, 36, 0.8), 0 0 8px rgba(253, 183, 36, 0.8);
  border-color: rgba(253, 183, 36, 0.25);
}

@media (min-width: 37.5rem) {
  input[type=tel] {
    width: auto;
  }
}

textarea {
  overflow: auto;
  resize: vertical;
  min-height: 8em;
}

select {
  overflow: hidden;
  height: 2.75rem;
}

input[type=radio],
input[type=checkbox] {
  font-size: 1em;
  float: left;
  width: 1rem;
  height: 1rem;
  margin: 0.365em 0 0 0;
}
input[type=radio] + label,
input[type=checkbox] + label {
  display: block;
  min-height: 0;
  margin: 0;
  padding: 0.3125em 0 0.3125em 1.25rem;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.2;
}

.mauticform-req-label {
  font-weight: bold;
}

.mauticform-errormsg {
  background: #a80909;
  color: #fff;
  display: flex;
  margin-top: 0.25rem;
  padding: 0.35rem;
  align-items: baseline;
  font-size: 1rem;
}
.mauticform-errormsg::before {
  background: #fff;
  content: "!";
  color: #a80909;
  border-radius: 100%;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  margin-right: 0.35rem;
  flex-shrink: 0;
}

.mauticform-page-wrapper {
  display: flex !important;
  flex-wrap: wrap;
  margin: -1rem -5% 0 0;
}

.mauticform-row {
  display: block;
  width: 100%;
  margin: 1rem 5% 0 0;
}
@media (min-width: 37.5rem) {
  .mauticform-row.mauticform-row-partial-half {
    width: 45%;
  }
  .mauticform-row.mauticform-row-partial-third {
    width: 28.333%;
  }
  .mauticform-row.mauticform-row-partial-quarter {
    width: 20%;
  }
}

.mauticform-label {
  display: block;
  width: auto;
  padding: 0 0 0.25em 0;
  font-size: 1rem;
  line-height: 1.4;
}
.mauticform-label * {
  padding: 0;
}

.mauticform-button-wrapper {
  display: block;
  margin: 1.5rem 5% 0 0;
}
.mauticform-button-wrapper:first-of-type {
  margin-top: 0;
}
.mauticform-button-wrapper:last-of-type {
  margin-bottom: 0.5rem;
}

.lp-school-contact .lp-school-contact-options li a, button.button, .button button,
a.button,
.button a,
input.button,
.button input, button,
.type_event_button a,
input[type=submit],
input[type=button], button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input, .lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button, button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
  background: #004C23;
  color: #fff;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: all 0.25s ease-in-out;
  display: block;
  width: 100%;
  padding: 0.65em 1.5em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  letter-spacing: 0.02em;
  outline: 0;
  line-height: 1.2;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.lp-school-contact .lp-school-contact-options li a:hover,
a.button:hover,
.button a:hover,
input.button:hover,
.button input:hover, button:hover,
.type_event_button a:hover,
input[type=submit]:hover,
input[type=button]:hover,
a.minor-button:hover,
.minor-button a:hover,
input.minor-button:hover,
.minor-button input:hover, .lp-apply .apply-form a:hover,
.lp-apply .apply-form button:hover,
.lp-apply-btm .apply-form a:hover,
.lp-apply-btm .apply-form button:hover,
a.major-button:hover,
.major-button a:hover,
input.major-button:hover,
.major-button input:hover, .lp-school-contact .lp-school-contact-options li a:focus,
a.button:focus,
.button a:focus,
input.button:focus,
.button input:focus, button:focus,
.type_event_button a:focus,
input[type=submit]:focus,
input[type=button]:focus,
a.minor-button:focus,
.minor-button a:focus,
input.minor-button:focus,
.minor-button input:focus, .lp-apply .apply-form a:focus,
.lp-apply .apply-form button:focus,
.lp-apply-btm .apply-form a:focus,
.lp-apply-btm .apply-form button:focus,
a.major-button:focus,
.major-button a:focus,
input.major-button:focus,
.major-button input:focus {
  background: #FDB724;
  color: #004C23;
  border: 2px solid transparent;
}
@media (min-width: 18.75rem) {
  .lp-school-contact .lp-school-contact-options li a, button.button, .button button,
a.button,
.button a,
input.button,
.button input, button,
.type_event_button a,
input[type=submit],
input[type=button], button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input, .lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button, button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
    font-size: calc(1rem + 0.25 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-school-contact .lp-school-contact-options li a, button.button, .button button,
a.button,
.button a,
input.button,
.button input, button,
.type_event_button a,
input[type=submit],
input[type=button], button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input, .lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button, button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
    font-size: 1.25rem;
  }
}
@media (min-width: 31.25rem) {
  .lp-school-contact .lp-school-contact-options li a, button.button, .button button,
a.button,
.button a,
input.button,
.button input, button,
.type_event_button a,
input[type=submit],
input[type=button], button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input, .lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button, button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
    display: inline-block;
    width: auto;
  }
}

.lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button, button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
  background: #FDB724;
  color: #004C23;
  border: 2px solid transparent;
  font-size: 1.25rem;
}
.lp-apply .apply-form a:hover,
.lp-apply .apply-form button:hover,
.lp-apply-btm .apply-form a:hover,
.lp-apply-btm .apply-form button:hover, button.major-button:hover, .major-button button:hover,
a.major-button:hover,
.major-button a:hover,
input.major-button:hover,
.major-button input:hover, .lp-apply .apply-form a:focus,
.lp-apply .apply-form button:focus,
.lp-apply-btm .apply-form a:focus,
.lp-apply-btm .apply-form button:focus, button.major-button:focus, .major-button button:focus,
a.major-button:focus,
.major-button a:focus,
input.major-button:focus,
.major-button input:focus {
  background: #004C23;
  color: #fff;
  border: 2px solid transparent;
}
@media (min-width: 18.75rem) {
  .lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button, button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
    font-size: calc(1.25rem + 0.4 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button, button.major-button, .major-button button,
a.major-button,
.major-button a,
input.major-button,
.major-button input {
    font-size: 1.65rem;
  }
}

.lp-school-contact .lp-school-contact-options li a, button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input {
  font-size: 0.78rem;
  padding: 0.35em 0.65em;
}
@media (min-width: 18.75rem) {
  .lp-school-contact .lp-school-contact-options li a, button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input {
    font-size: calc(0.78rem + 0.195 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-school-contact .lp-school-contact-options li a, button.minor-button, .minor-button button,
a.minor-button,
.minor-button a,
input.minor-button,
.minor-button input {
    font-size: 0.975rem;
  }
}

@-ms-viewport {
  width: device-width;
  zoom: 1;
}
@-o-viewport {
  width: device-width;
  zoom: 1;
}
@viewport {
  width: device-width;
  zoom: 1;
}
.center {
  width: 90%;
  max-width: 62.5rem;
  margin: auto;
}

a, input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=url], textarea, select {
  transition: all 0.25s ease-in-out;
}

body {
  background: linear-gradient(to bottom, rgba(198, 176, 112, 0.1), rgba(90, 168, 201, 0.1), rgba(198, 176, 112, 0.1), rgba(90, 168, 201, 0.1));
  background-color: #fff;
}

.school-logo {
  display: block;
  margin: 0;
  text-indent: -9999em;
  color: #000;
}
.school-logo::after {
  display: none;
}

.school-logo {
  width: 10rem;
  height: 4.05rem;
  background: url("logo-horz.svg") no-repeat left center/contain;
}
@media (min-width: 18.75rem) {
  .school-logo {
    width: calc(10rem + 2.5 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .school-logo {
    width: 12.5rem;
  }
}
@media (min-width: 18.75rem) {
  .school-logo {
    height: calc(4.05rem + 1.0125 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .school-logo {
    height: 5.0625rem;
  }
}

.school-footer {
  border-top: 2px solid #004C23;
  padding: 1.25rem 0;
}
@media (min-width: 18.75rem) {
  .school-footer {
    padding: calc(1.25rem + 0.75 * ((100vw - 18.75rem) / 56.25)) calc(0rem + 0 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .school-footer {
    padding: 2rem 0;
  }
}
.school-footer .school-footer-links {
  margin: 0;
  padding: 0;
}
.school-footer .school-footer-links li {
  list-style-type: none;
  display: inline-block;
}
.school-footer .school-footer-links li a {
  font-size: 0.9375rem;
  font-weight: normal;
}
.school-footer .school-footer-links li ~ li {
  margin-left: 0.5rem;
}
.school-footer .school-footer-links li ~ li::before {
  content: "|";
  display: inline-block;
  color: #004C23;
  margin-right: 0.65rem;
}

.fancybox-container {
  font-family: inherit;
}

.fancybox-bg {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.8) !important;
}

.fancybox-content {
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  width: 90% !important;
  max-width: 37.5rem !important;
  margin: 0 auto !important;
}

.fancybox-content {
  padding: 1.5rem !important;
  border-radius: 0 !important;
  background: #fff !important;
}

[class*=fancybox-close] {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  color: transparent;
  border: 0;
  background: none;
  font-size: 0;
}
[class*=fancybox-close]::after {
  content: "\f00d";
  color: #004C23;
  font-family: "Icons";
  font-size: 2rem;
  line-height: 1;
  box-shadow: none;
  transition: all 0.25s ease-in-out;
}
[class*=fancybox-close]:hover, [class*=fancybox-close]:focus {
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-shadow: none;
}
[class*=fancybox-close]:hover::after, [class*=fancybox-close]:focus::after {
  text-decoration: none;
  color: #009946;
  box-shadow: none;
}

.fancybox-content {
  position: relative !important;
}
.fancybox-content > [tabindex="0"] {
  outline: 0;
}
.lp-header-nav-wrap {
  background: #fff;
  position: relative;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
@media (min-width: 18.75rem) {
  .lp-header-nav-wrap {
    padding: calc(1rem + 0.5 * ((100vw - 18.75rem) / 56.25)) calc(0rem + 0 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-header-nav-wrap {
    padding: 1.5rem 0;
  }
}
.lp-header-nav-wrap .main-nav {
  margin: 1.5rem 0 1rem;
}
.lp-header-nav-wrap .main-nav ul, .lp-header-nav-wrap .main-nav li {
  margin: 0;
  padding: 0;
}
.lp-header-nav-wrap .main-nav ul {
  list-style: none;
  display: flex;
}
.lp-header-nav-wrap .main-nav li {
  position: relative;
}
.lp-header-nav-wrap .main-nav li ~ li {
  margin-left: 1rem;
}
.lp-header-nav-wrap .main-nav a {
  font-size: 0.8125rem;
  padding: 0.75rem 0;
  color: #004C23;
  width: 100%;
  height: 100%;
  font-weight: normal;
  align-items: center;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
  position: relative;
}
@media (min-width: 18.75rem) {
  .lp-header-nav-wrap .main-nav a {
    font-size: calc(0.8125rem + 0.25 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-header-nav-wrap .main-nav a {
    font-size: 1.0625rem;
  }
}
@media (min-width: 18.75rem) {
  .lp-header-nav-wrap .main-nav a {
    padding: calc(0.75rem + 0.25 * ((100vw - 18.75rem) / 56.25)) calc(0rem + 0.5 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-header-nav-wrap .main-nav a {
    padding: 1rem 0.5rem;
  }
}
.lp-header-nav-wrap .main-nav a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: calc(50% - 25px);
  background: #FDB724;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.15s ease-in;
  z-index: 1;
}
.lp-header-nav-wrap .main-nav a:hover::after, .lp-header-nav-wrap .main-nav a:focus::after, .lp-header-nav-wrap .main-nav a.active::after {
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.25s ease-out;
}
.lp-header-nav-wrap .main-nav a.active {
  transition: none;
  color: #000;
  font-weight: bold;
}
@media (min-width: 37.5rem) {
  .lp-header-nav-wrap {
    display: flex;
    align-items: center;
  }
  .lp-header-nav-wrap .main-nav {
    padding-right: 3%;
    margin: 0 0 0 auto;
  }
  .lp-header-nav-wrap .school-header {
    padding-left: 3%;
  }
  .lp-header-nav-wrap .main-nav > .center,
.lp-header-nav-wrap .school-header > .center {
    max-width: none;
    width: 100%;
  }
}

@media (min-width: 31.25rem) {
  .lp-apply .apply-form .mauticform-page-wrapper,
.lp-apply-btm .apply-form .mauticform-page-wrapper {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 1rem;
  }
  .lp-apply .apply-form .mauticform-field-email_address,
.lp-apply-btm .apply-form .mauticform-field-email_address {
    display: flex;
    width: 100%;
    margin: 0 0.5rem 0 0;
  }
  .lp-apply .apply-form .mauticform-field-email_address input,
.lp-apply-btm .apply-form .mauticform-field-email_address input {
    width: 100%;
  }
  .lp-apply .apply-form .mauticform-field-email_address .mauticform-errormsg,
.lp-apply-btm .apply-form .mauticform-field-email_address .mauticform-errormsg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .lp-apply .apply-form .mauticform-button-wrapper,
.lp-apply-btm .apply-form .mauticform-button-wrapper {
    flex: 0 0 auto;
    width: auto;
  }
  .lp-apply .apply-form .mauticform-button-wrapper, .lp-apply .apply-form .mauticform-button-wrapper:last-of-type,
.lp-apply-btm .apply-form .mauticform-button-wrapper,
.lp-apply-btm .apply-form .mauticform-button-wrapper:last-of-type {
    margin: 0;
  }
  .lp-apply .apply-form .mauticform-button-wrapper button,
.lp-apply-btm .apply-form .mauticform-button-wrapper button {
    margin: 0;
  }
}
.lp-apply .apply-form,
.lp-apply-btm .apply-form {
  position: relative;
  margin: 1.5rem 0 0;
  padding: 0 !important;
}
.lp-apply .apply-form .mauticform-button-wrapper,
.lp-apply-btm .apply-form .mauticform-button-wrapper {
  margin-top: 0.75rem;
}
.lp-apply .apply-form a,
.lp-apply .apply-form button,
.lp-apply-btm .apply-form a,
.lp-apply-btm .apply-form button {
  width: 100%;
  margin-bottom: 0;
  white-space: nowrap;
}

.lp-apply-btm {
  padding: 9vw 0 9vw;
}
.lp-apply-btm .lp-apply-btm-title::before {
  content: "";
  background: linear-gradient(to bottom, #FDB724, #fff);
  height: 4.6875rem;
  width: 2px;
  position: relative;
  display: block;
  margin-bottom: 1.25rem;
}
.lp-apply-btm .lp-apply-btm-content {
  padding: 13vw 0;
  max-width: 43.75rem;
  margin: 0 auto 0 0;
}
@media (min-width: 56.25rem) {
  .lp-apply-btm {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 6rem 1.5fr 5%;
  }
  .lp-apply-btm > .center {
    max-width: none;
    width: 100%;
  }
  .lp-apply-btm::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(img-portrait-smile.jpg) no-repeat center/cover;
  }
  .lp-apply-btm::after {
    content: "";
    position: absolute;
    top: -1.25rem;
    bottom: 1.25rem;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    z-index: -1;
    max-width: calc(100vw - 2.5rem);
    -o-border-image: linear-gradient(to bottom right, #004C23, #fff, #004C23) 1;
       border-image: linear-gradient(to bottom right, #004C23, #fff, #004C23) 1;
  }
  .lp-apply-btm > .center {
    grid-column: 3/4;
  }
  .lp-apply-btm::before {
    grid-column: 1/2;
  }
  .lp-apply-btm::after {
    left: 1.25rem;
    right: -1.25rem;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.thanks-message {
  background: #eee;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
}
.thanks-message p:last-of-type {
  margin-bottom: 0;
}

.lp-school-contact {
  padding: 20vw 0;
  background: url("img-seal.svg") no-repeat 30% 50%/contain;
}
.lp-school-contact .lp-school-contact-info {
  background: #fff;
  padding: 1rem 1.5rem 1.25rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  max-width: 43.75rem;
  margin: auto;
}
@media (min-width: 18.75rem) {
  .lp-school-contact .lp-school-contact-info {
    padding: calc(1rem + 1 * ((100vw - 18.75rem) / 56.25)) calc(1.5rem + 0.5 * ((100vw - 18.75rem) / 56.25)) calc(1.25rem + 1 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-school-contact .lp-school-contact-info {
    padding: 2rem 2rem 2.25rem;
  }
}
.lp-school-contact .lp-school-contact-options {
  margin: 0;
}
.lp-school-contact .lp-school-contact-options li {
  list-style-type: none;
  display: inline-block;
  width: auto;
  margin-right: 0.5rem;
}
.lp-school-contact .lp-school-contact-options li ~ li {
  margin-top: 0.75rem;
}
.lp-school-contact .lp-school-contact-options li a::before {
  display: inline-block;
  font-family: "Icons";
  margin-right: 0.35rem;
  font-weight: normal;
}
.lp-school-contact .lp-school-contact-options li.lp-school-contact-phone a::before {
  content: "\f095";
}
.lp-school-contact .lp-school-contact-options li.lp-school-contact-email a::before {
  content: "\f0e0";
}
@media (min-width: calc(31.25rem + 2rem)) {
  .lp-school-contact .lp-school-contact-info {
    position: relative;
  }
  .lp-school-contact .lp-school-contact-info::before {
    content: "";
    position: absolute;
    top: -1.25rem;
    bottom: 1.25rem;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    -o-border-image: linear-gradient(to bottom right, #004C23, #fff, #004C23) 1;
       border-image: linear-gradient(to bottom right, #004C23, #fff, #004C23) 1;
    z-index: -1;
    max-width: calc(100vw - 2.5rem);
    left: -1.25rem;
    right: 1.25rem;
  }
  .lp-school-contact .lp-school-contact-info {
    text-align: center;
  }
  .lp-school-contact .lp-school-contact-options {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 1.5rem;
  }
  .lp-school-contact .lp-school-contact-options li {
    margin-right: 0;
  }
  .lp-school-contact .lp-school-contact-options li ~ li {
    margin-top: 0;
  }
}
@media (min-width: 43.75rem) {
  .lp-school-contact {
    display: grid;
    grid-template-columns: 1fr 4rem 2fr 5%;
  }
  .lp-school-contact > .center {
    max-width: none;
    width: 100%;
    grid-column: 3/4;
  }
}
@media (min-width: 87.5rem) {
  .lp-school-contact {
    padding: 12vw 0;
  }
}

.lp-apply {
  padding: 0 0 8vw;
}
.lp-apply::before {
  content: "";
  display: block;
  width: 100%;
  height: 40vw;
  background: url("img-reflection.jpg") no-repeat center/cover;
}
.lp-apply .lp-apply-wrapper {
  position: relative;
  z-index: 2;
}
.lp-apply .lp-apply-content {
  background: #fff;
  padding: 1rem 1.5rem 1.25rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  position: relative;
  margin-top: -2rem;
}
@media (min-width: 18.75rem) {
  .lp-apply .lp-apply-content {
    padding: calc(1rem + 1 * ((100vw - 18.75rem) / 56.25)) calc(1.5rem + 0.5 * ((100vw - 18.75rem) / 56.25)) calc(1.25rem + 1 * ((100vw - 18.75rem) / 56.25));
  }
}
@media (min-width: 75rem) {
  .lp-apply .lp-apply-content {
    padding: 2rem 2rem 2.25rem;
  }
}
.lp-apply .lp-apply-content::before {
  content: "";
  position: absolute;
  top: -1.25rem;
  bottom: 1.25rem;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom right, #FDB724, #fff, #FDB724) 1;
     border-image: linear-gradient(to bottom right, #FDB724, #fff, #FDB724) 1;
  z-index: -1;
  max-width: calc(100vw - 2.5rem);
  left: 1.25rem;
  right: -1.25rem;
}
.lp-apply .lp-form {
  border-top: 1px solid #ddd;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
@media (min-width: 50rem) {
  .lp-apply {
    padding: 10vw 0 8vw;
    background: url("img-reflection.jpg") no-repeat center/cover;
  }
  .lp-apply::before {
    display: none;
  }
  .lp-apply .lp-apply-content {
    margin: 0 auto 0 0;
    max-width: 37.5rem;
  }
}

.lp-deferral {
  padding: 12vw 0 8vw;
}
.lp-deferral .lp-deferral-content {
  max-width: 37.5rem;
  margin: 0 auto;
}/*# sourceMappingURL=style-apply.css.map */